:root {
    --accent: #e63946;
    --main-color: white;
    --sub-color: #f1f1f2;    
    --text-color: black;
    --font-size: 62.5%;
}

/* adjust font-size to 10px across */

html {
    font-size: var(--font-size); 
}

/* set font family throughout the page */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* set body and heading style */

body {
    background-color: var(--main-color);
    letter-spacing: 0.125rem;
    width: 70vw;
    margin: 0 auto;
}
  
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }

h1, h2, h3, h4, h5, h6 {
}

/* utilities */
  
.accent {
    font-size: 2rem;
    color: var(--accent);
    font-weight: 900;
}

a { 
    text-decoration: none;
    color: var(--text-color);
}

a:hover { text-decoration: underline; }

/* animation */

#key {
    position: relative;
}

#key:hover {
    display: inline-block;
    animation: crank 0.25s linear infinite alternate;
}

#key::after {
    position: absolute;
    top: 100%;
    left: -15%;
    width: 100%;
    height: 100%;
    content: "(Hover Me!)";
    opacity: 0.75;
    font-size: 1.25rem;
    white-space: nowrap;
}

@keyframes crank {
    0%, 100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-0.3rem);
    }
}

/* header */

.header-main {
    width: inherit;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    z-index: 99;
    position: fixed;
    margin-top: -1.75rem;
    padding-bottom: 1rem;
}
  
.header-main h1 {
    font-size: 2rem;
    font-weight: 200;
    position: relative;
}

.header-main h1::after {
    font-family: 'Raleway', sans-serif;
    content: "Designer & Developer";
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 0.85rem;
    left: 14.5rem;
    text-transform: uppercase;
}

/* navbar */

.navbar ul {
    display: flex;
    padding-top: 0.5rem;
}
  
.navbar li {
    font-size: 1.5rem;
    text-transform: uppercase;
    list-style-type: none;
    transition: transform 0.1s ease-in-out;
    margin: 0 0.75rem;
}
  
.navbar li:hover { transform: translateY(1.5px); }

/* main styling */

.hero {
    width: 100%;
    height: 70vh;
    background: url(./images/quaritsch-photography-m2zuB8DqwyM-unsplash.jpg) top/contain no-repeat;
}

#about img {
    display: inline;
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 50%;
}
  
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 5rem 0;
    margin: 2.5rem 0;
}

.aboutP {
    font-size: 1.75rem;
    font-weight: 300;
    padding: 1.5rem;
    line-height: 2;
    margin-top: -0.7rem;
}
  
.container:nth-child(odd) {
    background-color: var(--sub-color);
}

.container > * {
}

.container h2 {
    min-width: 15rem;
    max-width: 20rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    padding: 1.5rem;
}

/* project section style */
  
#projectContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 2.5rem;
    justify-items: center;
    align-items: center;
    padding: 1.5rem;
}

.card {
    padding: 0.25rem;
}

.cardImage {
    height: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.cardImage.refactor {
    background-image: url("/assets/images/code-refactoring.png");
}

.cardImage.banana {
    background-image: url("/assets/images/banana-flexbox.png");
}

.cardImage.starry {
    background-image: url("/assets/images/01-landing-page.png");
    height: 50rem !important;
}

.cardImage.comingSoon {
    background-image: url("/assets/images/huma-kabakci-oRk4Ep65tRc-unsplash.jpg");
    cursor: not-allowed;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 5);
    width: 100%;
    height: 100%;
    opacity: 0.45;
}

.card.featured {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    opacity: 1;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.card h3.refactor::after {
    vertical-align: super;
    content: "  HTML  CSS";
    color: var(--accent);
    font-size: 0.95rem;
    font-weight: 900;
}

.card h3.starry::after {
    vertical-align: super;
    content: "  HTML  CSS";
    color: var(--accent);
    font-size: 0.95rem;
    font-weight: 900;
}

.card h3.banana::after {
    vertical-align: super;
    content: "  HTML  CSS  JAVASCRIPT";
    color: var(--accent);
    font-size: 0.95rem;
    font-weight: 900;
}

.card:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 5);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 1;
}

/* contact section style */

#contact {
    box-sizing: border-box;
    display: flex;
    width: inherit;
}

#contactInfo {
    font-size: 1.5rem;
    width: 50%;
    text-transform: lowercase;
    padding: 1.5rem;
}

.footer li img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

#contact img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 1.5rem;
}

#contactH2 {
}

/* footer style */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li {
    box-sizing: border-box;
    list-style-type: none;
    margin: 1.5rem;
}

.footer li img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.footer p {
    text-transform: uppercase;
    font-size: 1rem;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        width: 100vw;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about div {
        width: 100%;
        height: 45rem;
        overflow: scroll;
    }

    #about img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container h2 {
        font-size: 4rem;
        font-weight: 100;
    }

    .container h2 span {
        font-size: 4rem;
        font-weight: 100;
    }

    .projectContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        width: 100%;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about div {
        width: 100%;
        height: 45rem;
        overflow: scroll;
    }

    #about img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container h2 {
        font-size: 4rem;
        font-weight: 100;
    }

    .container h2 span {
        font-size: 4rem;
        font-weight: 100;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    body {
        width: 100%;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about div {
        width: 100%;
        height: 45rem;
        overflow: scroll;
    }

    #about img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container h2 {
        font-size: 4rem;
        font-weight: 100;
    }

    .container h2 span {
        font-size: 4rem;
        font-weight: 100;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    body {
        width: 90%;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about div {
        width: 100%;
        height: 45rem;
        overflow: scroll;
    }

    #about img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container h2 {
        font-size: 4rem;
        font-weight: 100;

    }

    .container h2 span {
        font-size: 4rem;
        font-weight: 100;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    body {
        width: 65%;
    }
}